/cmake-build-debug/
/cmake-build-release/
/executables/test/cmake-build-debug/
/executables/test/cmake-build-release/
**/Google_tests/data/*
/Google_tests/cmake-build-debug/
/Google_tests/cmake-build-release/
/Google_tests/cmake-build-relwithdebinfo/
/executables/geodesic_core/cmake-build-debug/
/executables/geodesic_core/cmake-build-release/
/executables/geodesic_core/cmake-build-relwithdebinfo/
**/Google_tests/tests/out/*
**/Google_tests/lib/*
/examples/tu_datasets/Data/
/examples/algorithms/ged/data/
/Google_tests/lib/
